<div class="account-container">
    <div class="account-page-wrapper">
        <div class="user-sec">
            <div class="user-welcome">
                <div class="account-img">
                    <div class="profile-name">

                    </div>
                    <div class="account-info">
                        <div class="account-username">
                            <h1>Hello user</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-menu-wrapper">
                <div class="each-menu first-menu">
                    <div class="each-menu-icon first-menu-icon">
                        <i class="fa fa-gift"></i>
                    </div>
                    <div class="each-menu-heading first-menu-heading">
                        <h5>Orders</h5>
                    </div>
                </div>
            </div>
            <div class="user-menu-wrapper">
                <div class="each-menu secound-menu">
                    <div class="each-menu-icon secound-menu-icon">
                        <i class="fa fa-user-circle"></i>
                    </div>
                    <div class="each-menu-heading secound-menu-heading">
                        <h5>Profile-details</h5>
                    </div>
                    <div class="user-menu-lock secound-lock">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
            </div>
            <div class="user-menu-wrapper">
                <div class="each-menu third-menu">
                    <div class="each-menu-icon third-menu-icon">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="each-menu-heading third-menu-heading">
                        <h5>My Moments</h5>
                    </div>
                    <div class="user-menu-lock third-lock">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
            </div>
            <div class="user-menu-wrapper">
                <div class="each-menu fourth-menu">
                    <div class="each-menu-icon fourth-menu-icon">
                        <i class="fa fa-credit-card"></i>
                    </div>
                    <div class="each-menu-heading fourth-menu-heading">
                        <h5>Saved Cards</h5>
                    </div>
                    <div class="user-menu-lock fourth-lock">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
            </div>
            <div class="user-menu-wrapper">
                <div class="each-menu fourth-menu">
                    <div class="each-menu-icon fifth-menu-icon">
                        <i class="fa fa-rupee"></i>  
                    </div>
                    <div class="each-menu-heading fifth-menu-heading">
                        <h5>Credits</h5>
                    </div>
                    <div class="user-menu-lock fifth-lock">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
            </div>
            <div class="login-buttons">
                <div class="sign-in-button">
                    <div class="sign-in-button-wrap">
                        <h5>Sign in</h5>
                    </div>
                </div>
                <div class="forget">
                    <div class="forget-button-wrap">
                        <h5>Forget me</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>