.filter-section{
    padding-right: 20px;
}
.filter-header{
    width: 100%;
    min-width: 238px;
    height: 64px;
    border-radius: 4px 4px 0 0;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 20px 24px;
}
.filter-title{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #707070;
    float: left;
}
.filter-btn{
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #a4a4a4;
    padding-top: 5px;
    cursor: pointer;
    float: right;
}
.filter-container{
    display: block;
    font-size: 0;
    border-radius: 0 0 4px 4px;
    overflow: visible;
    border-top: none;
    border: 1px solid #e6e6e6;
    background-color: #fff;
}