/*comment*/
.home-page-container{
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
    width: 100%;
    min-height: 675px;
}
.a img{
    width: 100%;
    height: 450px;
}
.slick-prev{
    display: none;
}
.home-page-category{
    padding-top: 40px;
}
.home-page-category-wrap{
    padding: 0.7rem;
    padding-top: 0;
    display: flex;
}
.safety-essential{
    width: 25%;
}
.safety-essential img{
    width: 100%;
}
.sec{
    width: 43%;
    margin: 0 30px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.categories{
    box-shadow: 1px 1px 2px 2px #ccc;
}
.categories-wrap h1{
    font-size: 25px;
    margin-left: 40px;
}
.category-photos{
    /*width: 60vw;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-column-gap: .1rem;
    grid-row-gap: 1rem;*/
    display: inline-block;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}
.category-photos img{
    height: 10rem;
}
.indian-ethical{
    width: 32%;
}
.indian-ethical img{
    margin-top: 60px;
    width: 100%;
}
.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tile{
    display: inline-block;
    vertical-align: top;
}
.safety-essential p, .indian-ethical p{
    text-align: center;
    font-size: 15px;
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.473);
    font-family: 'Satisfy', cursive;
}
.section-2{
    padding-top: 40px;
    position: relative;
    padding-bottom: 40px;
}
.sale-monsoon-wrap{
    margin: 0 0.7rem;
    display: flex;
    justify-content: space-between;
    
}
.monsoon, .sale{
    width: 50%;
}
.monsoon{
    margin-right: 50px;
}
.monsoon-wrap img , .sale-wrap img{
    width: 100%;
    overflow: hidden;
    height: 400px;
}
.section-3-wrap{
    display: flex;
}
.character , .spring , .moments{
    width: 33.33%;
}
.character img , .spring img , .moments img{
    width: 100%;
}
.character-wrap{
    display: flex;
    margin: 0 0.7rem;
}
.character img{
    width: 50%;
}
.moments{
    margin-right: 0.7rem;
}
.spring img{
    padding: 0 20px;
}
.explore-more{
    margin-top: 40px;
}
.explore-category{
    display: flex;
    align-items: center;
    justify-content: center;
}
.explore-category img{
    width: 30%;
    padding: 0;
}
@media screen and (max-width:900px)
{
    .a img{
        height: 300px;
    }
}
@media screen and (max-width:450px)
{
    .a img{
        height: 200px;
    }
}
@media screen and (max-width:1050px)
{
    .category-photos img{
        height: 8rem;
        width: 100%;
    }
}
@media screen and (max-width:900px)
{
    .home-page-category-wrap{
        display: block;
    }
    .safety-essential{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .safety-essential img{
        width: 50%;
    }
    .categories{
        margin-top: 20px;
        width: 50%;
    }
    .sec{
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0;
    }
    .categories-wrap h1{
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .indian-ethical{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .indian-ethical img{
        width: 50%;
    }
}
@media screen and (max-width:800px){
    .sale-wrap img , .monsoon-wrap img{
        height: 350px;
    }
}
@media screen and (max-width:700px)
{
    .sale-wrap img , .monsoon-wrap img{
        height: 313px;
    }
    .categories{
        width: 58%;
    }
}
@media screen and (max-width:560px)
{
    .sale-wrap img , .monsoon-wrap img{
        height: 260px;
    }
    .categories{
        width: 68%;
    }
}
@media screen and (max-width:470px)
{
    .sale-wrap img , .monsoon-wrap img{
        height: 205px;
    }
    .categories{
        width: 79%;
    }
}
@media screen and (max-width:380px)
{
    .sale-wrap img , .monsoon-wrap img{
        height: 180px;
    }
}
@media screen and (max-width:400px)
{
    .categories{
        width: 100%;
    }
}