
<div class="footer main-footer">
    <div class="footer-container">
        <div class="inner-container">
            <div class="clearfix">
                <div class="mobile-footer">
                    <div class="grid12-3">
                        <div class="mobile-collapsable-active">
                            <h6 (click)="aboutDrop()">ABOUT STYLEKID</h6>
                            <div class="mobile-content" *ngIf = "show">
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et saepe optio aspernatur. Vitae esse nobis molestiae explicabo eius exercitationem maxime rem, ea qui, ut excepturi beatae quo eveniet. Nesciunt, maiores.</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid12-3">
                        <div class="mobile-collapsable-active">
                            <h6 (click)="toggleDisplay()">Our Company</h6>
                            <div class="mobile-content" [hidden]="isDisplay">
                                <ul class="bullets">
                                    <li>About Us</li>
                                    <li>Contact Us</li>
                                    <li>Style Kid Blog</li>
                                    <li>Style Kid Moments</li>
                                    <li>Terms and Condition</li>
                                    <li>Privacy Policy</li>
                                    <li>Carrers</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid12-3">
                        <div class="mobile-collapsable-active">
                            <h6 (click)="toogleTag()">Help & Info</h6>
                            <div class="mobile-content" *ngIf="showMe">
                                <ul class="bullets">
                                    <li>Delivery & Shipping</li>
                                    <li>Return, Exchanges & Cancellations</li>
                                    <li>International Orders</li>
                                    <li>Payments</li>
                                    <li>Style Kid FAQ</li>
                                    <li>Busniess Enquiry</li>
                                    <li>Franchise Enquiry</li>
                                    <li>Orders, Pre orders & Tracking</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="grid12-3">
                        <div class="mobile-collapsable-active">
                            <h6 (click)="toogleCare()">Customer Care</h6>
                            <div class="mobile-content" *ngIf="careShow">
                                <ul class="customer-care-bullets">
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <p class="customer-care-content">Call Us 0172 255 255</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-mobile" id="secound"></i>
                                        <p class="customer-care-content">7300176296</p>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <p class="customer-care-content"> care@kidstyle.com</p>
                                    </li>
                                    <li style="padding-left: 11px;">
                                        <i class="fa fa-map-marker" id="third"></i>
                                        <p class="customer-care-content">Kid style Fashion,25mpc
                                            Block-4 Chigao(131992)
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-left">
                    <div class="mobile-collapsable">
                        <h6 class="block-title">About Style Kid</h6>
                        <div class="block-content">
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et saepe optio aspernatur. Vitae esse nobis molestiae explicabo eius exercitationem maxime rem, ea qui, ut excepturi beatae quo eveniet. Nesciunt, maiores.</p>
                        </div>
                    </div>
                </div>
                <div class="company-footer">
                    <div class="mobile-collapsable">
                        <h6 class="block-title">Our Company</h6>
                        <div class="block-content">
                            <ul class="bullets">
                                <li>About Us</li>
                                <li>Contact Us</li>
                                <li>Style Kid Blog</li>
                                <li>Style Kid Moments</li>
                                <li>Terms and Condition</li>
                                <li>Privacy Policy</li>
                                <li>Carrers</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="help">
                    <div class="mobile-collapsable">
                        <h6 class="block-title">Help & Info</h6>
                        <div class="block-content">
                            <ul class="bullets">
                                <li>Delivery & Shipping</li>
                                <li>Return, Exchanges & Cancellations</li>
                                <li>International Orders</li>
                                <li>Payments</li>
                                <li>Style Kid FAQ</li>
                                <li>Busniess Enquiry</li>
                                <li>Franchise Enquiry</li>
                                <li>Orders, Pre orders & Tracking</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="customer-care">
                    <div class="mobile-collapsable">
                        <h6 class="block-title">Customer Care</h6>
                        <div class="block-content">
                            <ul class="customer-care-bullets">
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <p class="customer-care-content">Call Us 0172 255 255</p>
                                </li>
                                <li>
                                    <i class="fa fa-mobile" id="secound"></i>
                                    <p class="customer-care-content">7300176296</p>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <p class="customer-care-content"> care@kidstyle.com</p>
                                </li>
                                <li style="padding-left: 11px;">
                                    <i class="fa fa-map-marker" id="third"></i>
                                    <p class="customer-care-content">Kid style Fashion,25mpc
                                        Block-4 Chigao(131992)
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-secoundary">
                <div class="additional-options">
                    <div class="secoundary-block">
                        <div class="mobile-collapse">
                            <i class="fa fa-info" id="header-logo"></i>
                            <h6>Need Help?</h6>
                            <p style="text-align: center;">View our Knowledge Center</p>
                        </div>
                    </div>
                    <div class="secoundary-block">
                        <div class="mobile-collapse">
                            <i class="fa fa-envelope" id="header-logo"></i>
                            <h6>24 X 7 Support</h6>
                            <p>wecare@stylekid.com</p>
                        </div>
                    </div>
                    <div class="secoundary-block">
                        <div class="mobile-collapse">
                            <img src="../../../assets/images/514915c9-fc63-4fb4-ab08-6ad81d41559a_200x200.png" class="mobile-logo">
                            <ul class="apps">
                                <h6>Download Our Apps</h6>
                                <div style="display: flex;"> 
                                    <li>
                                        <i class="fa fa-apple"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-google"></i>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="secoundary-block">
                        <div class="mobile-collapse">
                            <i class="fa fa-thumbs-up thumbs" id="header-logo"></i>
                            <ul class="social-icons">
                                <h6>Connect with us</h6>
                               <div style="display: flex;margin-left: 12px;">
                                <li>
                                    <i class="fa fa-facebook-f"></i>
                                </li>
                                <li>    
                                    <i class="fa fa-instagram"></i>
                                </li>
                                <li>
                                    <i class="fa fa-twitter"></i>
                                </li>
                                <li>
                                    <i class="fa fa-pinterest-p"></i>
                                </li>
                               </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>