<div class="home-page-container">
    <div class="home-page-wrap">
        <section id="slideshow">
            <div class="slick" id="slick">
                <div class="a"></div>
                <div class="a"></div>
                <div class="a"></div>
                <div class="a"></div>
                <div class="a"></div>
            </div>
        </section>
        <div class="home-page-category">
            <div class="home-page-category-wrap">
                <div class="safety-essential">
                    <img src="../../../assets/images/home-page/safety.jpg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum </p>
                </div>
                
                <div class="categories">
                    <div class="categories-wrap">
                        <h1>Shop By Category</h1>
                        <div class="category-photos">
                            <!--<div class="boys">
                                <img src="../../../assets/images/category/boys.jpg">
                            </div>
                            <div class="girls">
                                <img src="../../../assets/images/category/girls.jpg">
                            </div>
                            <div class="baby">
                                <img src="../../../assets/images/category/baby.jpg">
                            </div>
                            <div class="boys-foot">
                                <img src="../../../assets/images/category/boys-foot.jpg">
                            </div>
                            <div class="girls-foot">
                                <img src="../../../assets/images/category/girls-foot.jpg">
                            </div>
                            <div class="baby-foot">
                                <img src="../../../assets/images/category/baby-foot.jpg">
                            </div>
                            <div class="addon">
                                <img src="../../../assets/images/category/adds-on.jpg">
                            </div>
                            <div class="safety-image">
                                <img src="../../../assets/images/category/safety.jpg">
                            </div>
                            <div class="personal">
                                <img src="../../../assets/images/category/daily.jpg">
                            </div>-->
                            <div class="row ng-scope" ng-repeat="tileRow in vm.boutique.tile_details">
                                <div class="tile ng-scope" ng-repeat="tile in tileRow.tileGrid" style="width: 26%;">
                                    <img src="../../../assets/images/category/boys.jpg">
                                </div>
                                <div class="tile ng-scope" ng-repeat="tile in tileRow.tileGrid" style="width: 26%;">
                                    <img src="../../../assets/images/category/girls.jpg">
                                </div>
                                <div class="tile ng-scope" ng-repeat="tile in tileRow.tileGrid" style="width: 26%;">
                                   <a routerLink="baby">
                                    <img src="../../../assets/images/category/baby.jpg">
                                   </a>
                                </div>
                            </div>
                            <div class="row ng-scope" ng-repeat="tileRow in vm.boutique.tile_details">
                                <div class="tile ng-scope" ng-repeat="tile in tileRow.tileGrid" style="width: 26%;">
                                    <img src="../../../assets/images/category/boys-foot.jpg">
                                </div>
                                <div class="tile ng-scope" ng-repeat="tile in tileRow.tileGrid" style="width: 26%;">
                                    <img src="../../../assets/images/category/girls-foot.jpg">
                                </div>
                                <div class="tile ng-scope" ng-repeat="tile in tileRow.tileGrid" style="width: 26%;">
                                    <img src="../../../assets/images/category/baby-foot.jpg">
                                </div>
                            </div>
                            <div class="row ng-scope" ng-repeat="tileRow in vm.boutique.tile_details">
                                <div class="tile ng-scope" ng-repeat="tile in tileRow.tileGrid" style="width: 26%;">
                                    <img src="../../../assets/images/category/adds-on.jpg">
                                </div>
                                <div class="tile ng-scope" ng-repeat="tile in tileRow.tileGrid" style="width: 26%;">
                                    <img src="../../../assets/images/category/safety.jpg">
                                </div>
                                <div class="tile ng-scope" ng-repeat="tile in tileRow.tileGrid" style="width: 26%;">
                                    <img src="../../../assets/images/category/daily.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="indian-ethical">
                    <img src="../../../assets/images/home-page/ethnic.jpg">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum </p>
                </div>
            </div>
        </div>
        <div class="section-2">
            <div class="sale-monsoon-wrap">
                <div class="monsoon">
                    <div class="monsoon-wrap">
                        <img src="../../../assets/images/home-page/eb963fba-1975-4490-9855-fa62b470c66c_full.jpg">
                    </div>
                </div>
                <div class="sale">
                    <div class="sale-wrap">
                        <img src="../../../assets/images/home-page/CHRISTMAS_HIM.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="section-3">
            <div class="section-3-wrap">
                <div class="character">
                    <div class="character-wrap">
                        <img src="../../../assets/images/home-page/cahractor-boys.jpg">
                        <img src="../../../assets/images/home-page/character-girls.jpg">
                    </div>
                </div>
                <div class="spring">
                    <div class="spring-wrap">
                        <img src="../../../assets/images/home-page/arrival_img2.jpg">
                        <div class="explore-more">
                           
                            <div class="explore-category">
                                <img src="../../../assets/images/home-page/b15abfce-f51a-4b1f-abca-714afd05f5ed_full.jpg">
                                <img src="../../../assets/images/home-page/dbea5d9c-0a83-4977-a83f-fa401a622814_full.jpg">
                                <img src="../../../assets/images/home-page/253b5b03-1056-4c90-b3b6-3f1964c2d967_full.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="moments">
                    <div class="moments-wrap">
                        <img src="../../../assets/images/home-page/198100fb-0dd2-4bff-a66d-6cabebcd26ef_full.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





