<div class="home-page-container">
    <div class="home-page-wrap">
        <section id="slideshow">
            <div class="slick">
                <div class="a"></div>
                <div class="a"></div>
                <div class="a"></div>
                <div class="a"></div>
                <div class="a"></div>
            </div>
        </section>
        <div class="home-page-category">
            <div class="home-page-category-wrap">
                <div class="safety-essential">
                    <img src="../../../assets/images/home-page/safety.jpg">
                </div>
                <div class="categories">
                    <div class="categories-wrap">
                        <h1>Shop By Category</h1>
                        <div class="category-photos">
                            <div class="boys">
                                <img src="../../../assets/images/category/boys.jpg">
                            </div>
                            <div class="girls">
                                <img src="../../../assets/images/category/girls.jpg">
                            </div>
                            <div class="baby">
                                <img src="../../../assets/images/category/baby.jpg">
                            </div>
                            <div class="boys-foot">
                                <img src="../../../assets/images/category/boys-foot.jpg">
                            </div>
                            <div class="girls-foot">
                                <img src="../../../assets/images/category/girls-foot.jpg">
                            </div>
                            <div class="baby-foot">
                                <img src="../../../assets/images/category/baby-foot.jpg">
                            </div>
                            <div class="addon">
                                <img src="../../../assets/images/category/adds-on.jpg">
                            </div>
                            <div class="safety-image">
                                <img src="../../../assets/images/category/safety.jpg">
                            </div>
                            <div class="personal">
                                <img src="../../../assets/images/category/daily.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="indian-ethical">
                    <img src="../../../assets/images/home-page/ethnic.jpg">
                </div>
            </div>
        </div>
    </div>
</div>





