<div class="navbar">
  <div class="top-navbar">
    <div class="top-navbar-container">
      <ul class="top-navbar-contact contact-info-nav">
        <li class="navbar-phn">
          <i class="fa fa-phone" aria-hidden="true"></i>
          <p class="navbar-phoneno">Call +123 456 789</p>
        </li>
        <li class="navbar-email">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <p class="navbar-emailid">Care@stylekid.com</p>
        </li>
        <li class="navbar-whatsapp">
          <i class="fa fa-whatsapp" aria-hidden="true"></i>
          <p class="navbar-whatsappno">+7300 176 296</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="middle-navbar">
    <div class="middle-navbar-container">
      <div class="middle-navbar-left">
        <div class="main-logo">
          <a routerLink="/">
            <img src="../../../assets/images/stylekid-logo.png">
          </a>
        </div>
      </div>
      <div class="navbar-search" id="searchbar">
        <form action="" method="">
          <input class="search__input" type="text" placeholder="Search entire store here...">
        </form>
      </div>
      <div class="middle-navbar-right">
        <div class="user-account">
          <span class="account-redirect">
            <a routerLink="account">
              <h4>ACCOUNT</h4>
            </a>
          </span>
        </div>
        <div class="productCart">
          <a routerLink = "cart">
            <img src="../../../assets/images/home-page/shooping-cart.png">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-links" id="aaa">
    <div class="menu-links-container">
      <div class="mobile-menu">
        <div class="mobile-menu-inner" id="mobile-menu-close">
          <span class="trigger-icon" id="trigger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </span>
          <span class="label">Menu</span>
        </div>
        <ul class="nn" id="mobile-menu">
          <h5>ayush</h5>
        </ul>
      </div>
      <ul class="nav-links">
        <li>
          <a class="nav-item nav-link active" routerLink="whatsnew">What's New<span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-item nav-link" routerLink="baby">Baby<img src="../../../assets/images/home-page/Icon ionic-ios-arrow-down.png"></a>
        </li>
        <li>
          <a class="nav-item nav-link" routerLink="girls">Girls<img src="../../../assets/images/home-page/Icon ionic-ios-arrow-down.png"></a>
        </li>
        <li>
          <a class="nav-item nav-link" routerLink="boys">Boys<img src="../../../assets/images/home-page/Icon ionic-ios-arrow-down.png"></a>
        </li>
        <li>
          <a class="nav-item nav-link" routerLink="ethinicwear">Ethinic Wear<img src="../../../assets/images/home-page/Icon ionic-ios-arrow-down.png"></a>
        </li>
        <li>
          <a class="nav-item nav-link" routerLink="accessories">Accessories<img src="../../../assets/images/home-page/Icon ionic-ios-arrow-down.png"></a>
        </li>
        <li>
          <a class="nav-item nav-link" routerLink="sale">Sale</a>
        </li>
        <li>
          <a class="nav-item nav-link" routerLink="blog" id="blog">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>